source https://nuget.org/api/v2

nuget FSharp.Formatting >= 2.12.0
nuget FSharp.Data
nuget FSharp.Compiler.Service
nuget Suave
nuget Suave.DotLiquid
nuget FAKE
nuget FSharp.Compiler.Tools

github matthid/Yaaf.FSharp.Scripting src/source/Yaaf.FSharp.Scripting/YaafFSharpScripting.fs
  